body{
    background-color: black;
}
main{
    gap:15px;
    width: 60%;
    margin: 40px auto;
    display: grid;
    grid-template-areas: 
    'a a a b'
    'a a a b'
    'c c d d'
    'c c e e';
}
div{
    padding: 4rem;
}
.box-a{
    background-color: red;
    grid-area: a;
}
.box-b{
    background-color: orangered;
    grid-area: b;
}
.box-c{
    background-color: green;
    grid-area: c;
}
.box-d{
    background-color: blue;
    grid-area: d;
}
.box-e{
    background-color: blue;
    grid-area: e;
}
nav{
    font-size: 40px;
}
nav a{background-color:black;
    text-decoration: none;
    border-radius: 2px;

}